.card {
  background-color: #3f3f3f;
  color: #fff;
  max-width: 255px;
  border-radius: 21px;
  margin: 0 auto;
  margin-bottom: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  transition: all 0.3s ease-in-out;
  cursor: pointer;

  .div_pokemonImage {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 2.5rem;

    > p {
      font-size: 6rem;
      font-weight: 600;
      color: rgba(255, 255, 255, 0.24);
    }

    .pokemonImage {
      position: absolute;
      right: 20%;
      width: 179px;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #171717;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
    width: 100%;

    .div_pokemonInfo {
      padding: 1.25rem;
      background-color: #171717;
      width: 90%;

      .div_name {
        display: flex;
        align-items: center;
        justify-content: space-between;

        p:first-child {
          font-size: 0.75rem;
        }

        .name {
          text-transform: capitalize;
          font-size: 1rem;
        }
      }

      .div__type_color {
        display: flex;
        margin-top: 1rem;
        text-align: start;
        text-transform: capitalize;
        > div {
            border-radius: 0.25rem;
            margin-right: 0.4rem;
            padding: 0.25rem 1rem;
            font-size: 0.8rem;
            text-shadow: 0px 0px 5px rgba(0,0,0,0.9);
        }
      }
    }
  }

  &:hover {
    scale: 1.1;
    box-shadow: 0px 0px 27px -3px rgba(0,0,0,0.75);

    transition: all 0.3s ease-in-out;
  }
}