.header {
    background-color: var(--header-background-color);
    
    .div_header {
        height: 64px;
        display: flex;
        align-items: center;
        margin: 0 auto;

        
        .logo{
            > img {
                width: 120px;
            }
            margin-left: 50px;
            flex-grow: 1;
        }

        .login {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 197.5px;
            box-shadow: 1px 1px 4px #000;
            gap: 5px;
            cursor: pointer;

            clip-path: polygon(0 0, 100% 0, 100% 100%, 19% 100%, 0 64%);
            background-color: #D4D4D4;

            @media screen and (max-width: 500px) {
                width: 50%;
            }

            >div {
                display: flex;
                align-items: center;
                justify-content: center;
                
                svg {
                    width: 23px;
                    height: 100%;
                }

            }

            > p {
                font-size: 1.5rem;
            }

        }
    }
}